.content-area {
  display: flex;
  padding: 3rem;
  gap: 1rem;
}
.img{
  margin-left: 40px;

}
.data{
  margin-left: 70px;
}
@media (max-width: 768px) {
  .content-area {
    flex-direction: column;
  }
}